[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
wandb = "==0.10.13"
pytorch-lightning = "==1.0.4"
rouge-score = "*"
sacrebleu = "*"
fsspec = "*"
filelock = "*"
transformers = "==3.5.1"
fire = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.6"
